html{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: clip;
    font-family: Arial;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y mandatory;
}

#routing {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-stop: always;
    scroll-snap-type: y mandatory;
}

.page{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    scroll-snap-align: start;
}

#home {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)), url(team.jpeg);
    background-size: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.home-text {
    height: 60vh;
    width: 80vw;
    color: rgba(255, 255, 255);
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.home-btn {
    width: 15vw;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}

.home-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}