.main-nav{
    position: fixed;
    width: 80vw;
    height: 8vh;
    top: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 15px;
    background-color: rgba(50, 50, 50);
}

.main-nav li{
    margin: 0;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 0.3s;
}

.main-nav-link {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 0.3s;
}

.main-nav-link:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.main-nav-option:last-child .main-nav-link {
    border-radius: 0px 15px 15px 0px;
}

.main-nav-option:hover:last-child .main-nav-link {
    border-radius: 0px 15px 15px 0px;
}

.logo {
    width: 90%;
    height: 90%;
    object-fit: contain;
}