.nav{
    --nav-gap: 15px;
    padding: var(--nav-gap);
    position: fixed;
    right: 0;
    top:  50%;
    transform: translateY(-50% );
}

.nav-item{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: var(--nav-gap);
}

.nav-link {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: var(--nav-gap);
    width: var(--nav-gap);
    margin-left: var(--nav-gap);
    transition: transform 0.1s ;
}

.nav-link-selected {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.4);
}

.nav-link:hover ~ .nav-label{
    opacity: 1;
}

.nav-label{
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.1s;
}