#contacts {
    background-color: rgb(25, 25, 25);
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.info {
    height: 65vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.info-left {
    height: 65vh;
    width: 25vw;
    padding: 2vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-left .contact-button {
    display: none;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.info-left .contact-button:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 1);
}

.info-right {
    height: 65vh;
    width: 45vw;
    padding: 2vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-space {
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;

}

.contact-form {
    width: 100%;
    height: 60vh;
    padding-top: 3vh;
}

.contact-form input[type=text], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form input[type=submit] {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form input[type=submit]:hover {
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.8);

}

@media only screen and (orientation: portrait) {
    .info-right {
        display: none;
    }

    .info-left {
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }

    .info-left .info-space {
        width: 50vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }

    .info-left .contact-button {
        display: block;
    }

    .info-space h2 {
        margin: 0;
        padding: 0;
    }

    .info-space h4 {
        margin: 0;
        padding: 0;
    }

}