@import "colors.css";

#team {
    background-color: var(--black);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}